<html>
    <body>
        <h1>Time Tonight Configuration</h1>
        <form method="POST" action="/configure">
            <label for="hoursPerDay">Hours Per Day</label>
            <input id="hoursPerDay" name="hoursPerDay" type="number" value="{{.HoursPerDay}}">
            <label for="togglAPIToken"><a href="https://www.toggl.com/app/profile">Toggl API Token</a></label>
            <input id="togglAPIToken" name="togglAPIToken" type="text" value="{{.TogglAPIToken}}">
            <button type="submit">Save</button>
        </form>
    </body>
</html>