<html>
    <body>
        <h1>Time Tonight</h1>
        <table>
            <tr>
                <th>Timer Running</th>
                <td>{{.TimerRunning}}</td>
            </tr>
            <tr>
                <th>Time Per Day</th>
                <td>{{.TimePerDay}}</td>
            </tr>
            <tr>
                <th>Logged</th>
                <td>{{.LoggedTime}}</td>
            </tr>
            <tr>
                <th>Remaining</th>
                <td>{{.RemainingTime}}</td>
            </tr>
            {{if .TimerRunning}}
            <tr>
                <th>Estimated Finish Time</th>
                <td>{{.FinishTime}}</td>
            </tr>
            {{end}}
        </table>
    </body>
</html>