<html>
    <body>
        <h1>Time Tonight</h1>
        <table>
            <tr>
                <th>Time Per Day</th>
                <td>{{.HoursPerDay}} hrs</td>
            </tr>
            <tr>
                <th>Logged Today</th>
                <td>{{.LoggedHours}}:{{.LoggedMinutes}}</td>
            </tr>
            <tr>
                <th>Timer Running</th>
                <td>{{.TimerRunning}}</td>
            </tr>
        </table>
    </body>
</html>