{{template "_head.tmpl"}}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <h4 style="text-align: center; margin-top: 0.75em;"><i class="fa fa-clock-o"></i>&nbsp;Time Tonight</h4>
            <hr/>
            
            {{if .TimerRunning}}
                <h1 title="Your timer is running..."
                    style="text-align: center; margin-top:2em; margin-bottom: 2em;">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                    <small> Done @ </small>
                    {{.FinishTime.Format "3:04"}}
                    <small>{{.FinishTime.Format "MST"}}</small>
                </h1>
                {{if lt .Remaining 0}}
                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-warning"></i>Your timer is running, but you've reached your goal: 
                    <a href="https://www.toggl.com/app/timer">stop your timer.</a>
                </div>
                {{end}}
            {{else}}
                {{if le .Remaining 0}}
                    <h1
                        style="text-align: center; margin-top:2em; margin-bottom: 2em;">
                        You're Done!</h1>
                {{else}}
                    <h1
                        style="text-align: center; margin-top:2em; margin-bottom: 2em;">
                        {{.Remaining}} <small>left</small></h1>
                    <div class="alert alert-warning" role="alert">
                        <i class="fa fa-warning"></i>Your timer is <strong>NOT</strong> running!
                        <a href="https://www.toggl.com/app/timer">Start your timer.</a>
                    </div>
                {{end}}
            {{end}}
            
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Goal</th>
                        <td>{{.TimePerDay}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Logged Today</th>
                        <td>{{.Logged}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Remaining</th>
                        <td>{{.Remaining}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
        </div>
</div>
{{template "_foot.tmpl"}}